.livenow {
  width: 30px;
  padding: 10px 40px 12px 40px;
  margin: 0 auto;
  display: inline-block;
}

.livenow > h5 {
  color: rgba(240, 0, 0, 1);
}

.livenow > div {
  vertical-align: middle;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  position: absolute;
  margin: 0 auto;
  border: 3px solid rgba(240, 0, 0, 1);
  -webkit-animation: live 1.4s infinite ease-in-out;
  animation: live 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  &:nth-child(1) {
    background-color: rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 1);
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
  }
  &:nth-child(2) {
    -webkit-animation-delay: 0.16s;
    animation-delay: 0.16s;
  }
  &:nth-child(3) {
    -webkit-animation-delay: 0.42s;
    animation-delay: 0.42s;
    border: 3px solid rgba(255, 255, 255, 0.5);
  }
  &:nth-child(4) {
    border: 3px solid rgba(255, 255, 255, 1);
    -webkit-animation-delay: -0.42s;
    animation-delay: -0.42s;
  }
}

@-webkit-keyframes live {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0.6);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes live {
  0%,
  80%,
  100% {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
